html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
nav {
  background: linear-gradient(45deg, #01497c 30%, #012a4a 90%);
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}
